{{!-- {{#this.section 'head'}}

<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />

{{/section}} --}}


<div class="row">
    <div id="map" class="col-s-12"></div>
</div>


<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic3RmbmsyZmYiLCJhIjoiY2s2a2gxZjh2MDN2NzNvcGFxaGlpaW1ieSJ9.RSzVuCNsjuaSIP--0DOl4g';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        center: [{{ this.locationGeoCoord.coordinates }}],
        zoom: 3
    });

    var geojson = {
        type: 'FeatureCollection',
        features: [{
            type: 'Feature',
            geometry: {
                type: 'Point',
                coordinates: [{{ this.locationGeoCoord.coordinates }}]
            },
        properties: {
            title: 'Mapbox',
            description: "{{this.name}}"
            }   
        }]
    };

    // add markers to map
    geojson.features.forEach(function (marker) {

        // create a HTML element for each feature
        var el = document.createElement('div');
        el.className = 'marker';

        // make a marker for each feature and add to the map
        new mapboxgl.Marker(el)
            .setLngLat(marker.geometry.coordinates)
            .addTo(map);
    });

</script>