<header>
    {{#if user}}
        <nav>
          <a href="/">Homepage</a>
          <a href="/bookings">Bookings</a>
          <a href="/myboats">Listings</a>
          <a href="/logout">Logout</a>
         </nav>
      {{else}}
        <nav>
          <a href="/">Homepage</a>
          <a href="/log-in">Login</a>
        </nav>
    {{/if}}
</header>

<div class="container-sm">
  <h1>ADD A SYB</h1>
  <form action="/myboats/add" method="post" enctype="multipart/form-data" class="needs-validation">
    
    <div class="form-group row">
      <div class="col">
        <label for="">Boat name:</label>
        <input type="text" name="name" required class="form-control" placeholder="make it unique">
      </div>
    </div>
    
    <div class="form-group row">
      <div class="col">
        <label for="">Type:</label>
        <input list="type_options" name="type" required class="form-control" placeholder="select from dropdown menu">
        <datalist id="type_options">
            <option value="canoe">Canoe</option>
            <option value="kayak">Kayak</option>
            <option value="rowing">Rowing</option>
            <option value="inflatable">Inflatable</option>
            <option value="paddle">Paddle</option>
            <option value="boat">Boat</option>
        </datalist>
      </div>
    </div>
     
    <div class="form-group row">
      <div class="col">
        <label for="">Street:</label>
        <input type="text" name="street" required class="form-control">
      </div>
    </div>
      
    <div class="form-group row">
      <div class="col">
        <label for="">House Number:</label>
        <input type="text" name="streetNumber" required class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <label for="">City:</label>
        <input type="text" name="city" required class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <label for="">Province:</label>
        <input type="text" name="province" class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <label for="">Description:</label>
        <input type="text" name="description" class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <label for="">Max number of users:</label>
        <input type="number" name="forMaxNumOfUsers" defaul=1 required class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <label for="">Brand:</label>
        <input type="text" name="brand" class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <label for="">Not available at:</label>
        <input type="text" name="notAvailableDates" placeholder="Open Calendar" class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <label for="photo">Upload Photo (JPG or PNG format only):</label>
        <input type="file" name="photo" class="form-control">
      </div>
    </div>

      <button type="submit" class="btn btn-primary">ADD THIS SYB</button>
  </form>

</div>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}