<header>
    {{#if user}}
        <nav>
          <a href="/">Homepage</a>
          <a href="/bookings">Bookings</a>
          <a href="/myboats">Listings</a>
          <a href="/logout">Logout</a>
         </nav>
      {{else}}
        <nav>
          <a href="/">Homepage</a>
          <a href="/log-in">Login</a>
        </nav>
    {{/if}}
</header>

<form action="/myboats/add" method="post">
    <label for="">Name:</label>
    <input type="text" name="name" required>
    <br>
    <label for="">Type:</label>
    <input list="type_options" name="type" required>
    <datalist id="type_options">
        <option value="canoe">Canoe</option>
        <option value="kayak">Kayak</option>
        <option value="rowing">Rowing</option>
        <option value="inflatable">Inflatable</option>
        <option value="paddle">Paddle</option>
        <option value="boat">Boat</option>
    </datalist>
    <br>
    <label for="">Street:</label>
    <input type="text" name="street" required>
    <br>
    <label for="">Street Number:</label>
    <input type="text" name="streetNumber" required>
    <br>
    <label for="">City:</label>
    <input type="text" name="city" required>
    <br>
    <label for="">Province:</label>
    <input type="text" name="province">
    <br>
    <label for="">Image:</label>
    <input type="text" name="imageURL">
    <br>
    <label for="">Description:</label>
    <input type="text" name="description">
    <br>
    <label for="">Not available at:</label>
    <input type="text" name="notAvailableDates" placeholder="DD/MM/YYYY,DD/MM/YYYY">
    <br>
    <label for="">Max number of users:</label>
    <input type="number" name="forMaxNumOfUsers" defaul=1 required>
    <br>
    <label for="">Brand:</label>
    <input type="text" name="brand">
    <br>
    <button type="submit">ADD THIS BOAT</button>
</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}