<form action="/myboats/add" method="post">
    <label for="">Name:</label>
    <input type="text" name="name">
    <br>
    <label for="">Type:</label>
    <input list="type_options" name="type">
    <datalist id="type_options">
        <option value="canoe">
        <option value="kayak">
        <option value="rowing">
        <option value="inflatable">
        <option value="paddle">
    </datalist>
    <br>
    <label for="">Street:</label>
    <input type="text" name="street">
    <br>
    <label for="">Street Number:</label>
    <input type="text" name="streetNumber">
    <br>
    <label for="">City:</label>
    <input type="text" name="city">
    <br>
    <label for="">Image:</label>
    <input type="text" name="imageURL">
    <br>
    <label for="">Description:</label>
    <input type="text" name="description">
    <br>
    <label for="">Max number of users:</label>
    <input type="number" name="forMaxNumOfUsers" defaul=1>
    <br>
    <label for="">Brand:</label>
    <input type="text" name="brand">
    <br>
    <button type="submit">ADD a boat</button>
</form>