<form action="/sign-up" method="post">

  <label for="">Email</label>
  <input type="email" name="email">

  <label for="">Password</label>
  <input type="password" name="password">

  <button>Sign up</button>
</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}