body {
  font: 14px;
  font-family: 'Montserrat', sans-serif;
}

img{
  align-self: center;
  max-width: 80%;
}

.navbar-color{
  background-color: #69B1FF;
}

.cta-top{
  color: white;
  background-color: #548ECC;
}

.cta-bottom{
  background-color: rgb(208, 212, 214);
}


@media screen and (min-width: 575px ) { 
  .auth-form{
    width: 40%;
    margin: 0 auto;
  }
 }