body {
  font: 14px;
  font-family: 'Roboto', sans-serif;
  /* letter-spacing: 0.05em; */
}

#navbar-style {
  background-color: rgba(228, 227, 225, 1);
  /* background-color: rgba(43, 65, 98, 1); */
}

.navbar-toggler {
  color: rgba(240, 242, 241, 1);
}

.navbar-toggler-icon {
  color: rgba(240, 242, 241, 1);
}


.btn-primary {
  background-color: rgba(31, 31, 173, 1);
}

#sign-up-link {
  color: rgba(31, 31, 173, 1);
}

#log-in-link {
  color: rgba(31, 31, 173, 1);
}

#submitFilter {
  background-color: rgba(31, 31, 173, 1);
}

#submitFilter:hover {
  color: rgba(219, 153, 5, 1);
}

.card-header {
  color: rgba(31, 31, 173, 1);
}

#type-select {
  /* color: rgba(219, 153, 5, 1);; */
}

#bookings-acc-btns {
  color: rgba(31, 31, 173, 1);
  text-decoration: none;
}

#bookings-acc-btns:hover {
  color: rgba(0, 21, 20, 1);
}

#bookings-acc-btns:active { 
  font-weight: bold;
  color: rgba(219, 153, 5, 1) !important;
}

#add-boat-btn {
  background-color: rgba(31, 31, 173, 1)
}

#add-boat-btn:hover {
  color: rgba(219, 153, 5, 1);
}





img{
  align-self: center;
  max-width: 80%;
}

h1{
  text-align: center;
  padding-top: 2%;
}


.cta-top{
  color: white;
  background-color: #548ECC;
}

.cta-bottom{
  background-color: rgba(43, 65, 98, 1);
  color: rgba(240, 242, 241, 1);; 
}

.cta-bottom:hover{
  color: rgba(219, 153, 5, 1); 
}


@media screen and (min-width: 575px ) { 
  .auth-form{
    width: 40%;
    margin: 0 auto;
  }
 }