
/* RGB */
// palette 1
$egyptian-blue: rgba(31, 31, 173, 1);
$rich-black: rgba(0, 21, 20, 1);
$white: rgba(251, 255, 254, 1);
$deep-koamaru: rgba(43, 65, 98, 1);
$harvest-gold: rgba(219, 153, 5, 1);
$antiflash-white: rgba(240, 242, 241, 1);

/* // palette 2 */
$antiflash-white: rgba(240, 242, 241, 1);
$platinum: rgba(228, 227, 225, 1);
$yale-blue: rgba(26, 68, 150, 1);
$: rgba(40, 49, 78, 1);
$: rgba(10, 119, 187, 1);

/* // palette 3 */
$: rgba(203, 202, 204, 1);
$: rgba(39, 44, 51, 1);
$: rgba(27, 59, 102, 1);
$: rgba(225, 224, 226, 1);
$: rgba(240, 240, 242, 1);